@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-snap-type: y mandatory;
}

body {
  @apply text-foreground-light bg-background-light;;
  font-family: inherit;
}

@media (prefers-color-scheme: dark) {
  body {
    @apply text-foreground-dark bg-background-dark;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
